@font-face{
  font-family: MargotBI;
  src: url(Margot-BoldItalic.ttf);
}

@font-face{
  font-family:MargotI ;
  src: url(Margot-RegularItalic.ttf);
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  header {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
  }
  nav {
    background-color: #ddd;
    overflow: hidden;
  }
  nav a {
    display: block;
    float: left;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #ccc;
  }
  section {
    padding: 20px;
  }
  footer {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

.kajaborder{
  border: 3px solid black;
}

#card{
  width: 585px;
  height: 615px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(husleves-600x600.jpg);
  background-position: center;
  background-size: cover;
}

.margot{
  font-family: MargotBI;
  text-align: center;
}

.hozzavalok{
  font-size: 20px;
  font-family: MargotI;
  text-shadow: #444;
}